# Database
DATABASE_URL=./data/coach.db
DATABASE_TYPE=sqlite

# App
APP_PORT=3000
APP_PREFIX=api

# Swagger
SWAGGER_ENABLED=true
SWAGGER_TITLE=Code Coach API
SWAGGER_DESCRIPTION=API for Code Coach application
SWAGGER_VERSION=1.0
SWAGGER_PATH=docs
